body {
    --show-valo: calc((100vw - 3140 * 100vh / 1024));
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    overflow: hidden;
}

#ButtonContainer {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

#valorantButtonContainer {
    justify-self: flex-end;
    display: none;
    opacity: 0;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 50%;
}

#csgoButtonContainer {
    display: none;
    opacity: 0;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    width: 50%;
}

#middleBackgroundImage {
    position: absolute;
    top: -15vh;
    width: 101vw;
    aspect-ratio: 1441/1024;
}

.joinButton {
    margin: 5%;
    margin-top: 0;
    padding: 1%;
    width: 50%;
    border: 0;
    background: linear-gradient(118.65deg, #e79723 0%, #efbf2f 100%);
    border-radius: 5px;
    box-shadow: 0 0 10px #efbf2f;
    transition-duration: 0.2s;
}

.joinButton:hover {
    box-shadow: 2px 2px 20px #efbf2f;
}
#introText {
    position: absoute;
    width: 50%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    position: absolute;

    font-family: "Outfit";
    font-style: normal;

    text-align: center;

    color: #ffffff;

    z-index: 10;
}

#yellow {
    color: #efbf2f;
}

#backgroundImage {
    position: absolute;
    top: 0;
    left: -34%;
    aspect-ratio: 3140/1024;
    height: 100vh;
    z-index: 0;
}

#shaders {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: -50%;
    left: -47%;

    width: 200vw;
    height: 200vh;
    z-index: 0;

    transform: rotate(-30deg);
}

.shade {
    display: flex;
    opacity: 0.7;
    height: 200%;
    width: 50%;
    background-color: #000;
    z-index: 100;
    transition-duration: 0.5s;
}

.shade:hover {
    opacity: 0;
}

@keyframes activateCSGO {
    to {
        left: 0px;
    }
}

@keyframes activateValorant {
    to {
        left: -67%;
    }
}

@keyframes showForms {
    to {
        opacity: 1;
    }
}
