<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Team</title>
        <link rel="stylesheet" href="css/teamForm.css" />
    </head>
    <body>
        <img src="resources/Frame 52.svg" alt="frame" class="frame">
        <form action="/CSGOCreateTeam" method="post" id="form">
            <div class="form">
                <h1>Create CSGO Team</h1>
            <div class="formField">
                <input
                    id="teamName"
                    name="teamName"
                    type="text"
                    placeholder="Team Name"
                    required
                />
            </div>
            <h1>Leader Information</h1>
            <div class="formField">
                <input
                    id="fullName"
                    name="fullName"
                    type="text"
                    placeholder="Full Name"
                    required
                />
            </div>
            <div class="formField">
                <input
                    id="regno"
                    name="RegistrationNumber"
                    type="text"
                    placeholder="Registration Number"
                    required
                />
            </div>
            <div class="formField">
                <input
                    id="mail"
                    name="VitMail"
                    type="text"
                    placeholder="Vit Mail"
                    required
                />
            </div>
            <div class="formField">
                <input 
                    id="rank" 
                    name="rank" 
                    type="text" 
                    placeholder="Rank"  
                    required/>
            </div>
            <div class="formField">
                <input
                    id="gameId"
                    name="gameId"
                    type="text"
                    placeholder="Steam ID"
                    required
                />
            </div>
            <div class="formField">
                <input
                    id="discord"
                    name="discord"
                    type="text"
                    placeholder="Discord ID"
                    required
                />
            </div>
            
            <div class="formField">
                <input
                    id="phno"
                    name="phoneNumber"
                    type="tel"
                    placeholder="Phone Number"
                    required
                />
            </div>
                <div class="buttons">
                    <button id="joinTeam">
                        Join A Team
                    </button>
                                 <script>
                    document.getElementById("joinTeam").onclick = function () {
                        window.location.href = "/createPlayerCSGO";
                    };
                </script>
                    <button name="submit" type="submit" form="form">
                        Submit
                    </button>
                </div>
        </div>
        </div>
        </form>
    </body>
</html>