<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="css/form.css" />
    </head>
    <body>
        <form action="/createPlayer" method="post">
            <div class="formField">
                <a href="ValorantCreateTeam">
                    <input type="button" value="Create Team" />
                </a>
            </div>
            <div class="formField">
                <a href="createPlayerValorant">
                    <input type="button" value="Join a Team" />
                </a>
            </div>
            <div class="formField">
                <a href="teamInfo">
                    <input type="button" value="Get Team Info" />
                </a>
            </div>
        </form>
    </body>
</html>
