<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="css/form.css" />
    </head>
    <body>
        <form action="/createPlayer" method="post">
            <div class="formField">
                <a href="ValorantCreateTeam">
                    <input type="button" value="Create Valorant Team" />
                </a>
            </div>
            <div class="formField">
                <a href="createPlayerValorant">
                    <input type="button" value="Join a Valorant Team" />
                </a>
            </div>
            <div class="formField">
                <a href="teamInfo">
                    <input type="button" value="Get Valorant Team Info" />
                </a>
            </div>
            <div class="formField">
                <a href="schedule">
                    <input type="button" value="Check the schedule" />
                </a>
            </div>
            <div class="formField">
                <a href="scheduleUploadValorant">
                    <input type="button" value="Add the schedule valorant" />
                </a>
            </div>
            <p>
                add schedule will only be available to admins to add matches
                easily
            </p>
        </form>
    </body>
</html>
