<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="css/index.css" />
    </head>
    <body id="body">
        <div id="main">
            <div class="container" id="csgoContainer">
                <img class="logo" src="resources/csgoLogo.png" />
            </div>
            <div class="container" id="valorantContainer">
                <img class="logo" src="resources/valorantImage.svg" />
            </div>
        </div>
        <div id="formContainer">
            <div id="csgoFormContainer"></div>
            <div id="valorantFormContainer">
                <button id="teamValo">Play Solo</button>
            </div>
        </div>
        <div id="background">
            <div id="valorantbackgroundContainer"></div>
            <div id="csgobackgroundContainer"></div>
        </div>
        <div id="backgroundGradient"></div>
        <script src="js/index.js"></script>
    </body>
</html>
