<!DOCTYPE html>
<html lang="en">
    <div id="logoContainer">
        <div id="logoBackground"></div>
    </div>
    <head>
        <title>Game Escape</title>
        <link rel="stylesheet" href="css/mainPage.css" />
    </head>
    <body>
        <div id="portrait">
            Our website isn't capable with your devices make sure you've opened
            it on a Desktop and or in landscape mode
        </div>
        <img src="resources/Frame 69.png" id="backgroundImage" />
        <div id="clubLogo">
            <div id="clubLogoBackground"></div>
            <img src="resources/TagLogo.png" class="logo tagLogo" />
            <img src="resources/gameEscapeLogo.svg" class="logo" id="gs" />
        </div>
        <!-- <div id="introText">
            Escape Reality Embrace Abstract A 48hr intra club
            <strong id="yellow">CS:GO & Valorant</strong> Tournament
        </div> -->
        <div id="ButtonContainer">
            <div class="container" id="csgoButtonContainer">
                <img
                    src="resources/CSGOBackgroundLogo.png"
                    class="CSGOBackgroundLogo"
                />
                <div class="gameEscapeButton">
                    <button id="soloCSGO" class="joinButton CSGO">
                        Play Solo
                    </button>
                    <button id="teamCSGO" class="joinButton CSGO">
                        Play as Team
                    </button>
                    <button id="infoCSGO" class="joinButton CSGO">
                        Team Info
                    </button>
                    <button id="homeCSGO" class="joinButton CSGO">Home</button>
                    <img src="resources/csgoButtonLogo.png" class="csLogo" />
                </div>
            </div>
            <div class="container" id="valorantButtonContainer">
                <img
                    src="resources/ValorantBackgroundLogo.png"
                    class="ValorantBackgroundLogo"
                />
                <div class="gameEscapeButton">
                    <button id="soloValo" class="joinButton valorant">
                        Play Solo
                    </button>
                    <button id="teamValo" class="joinButton valorant">
                        Play as Team
                    </button>
                    <button id="infoValo" class="joinButton valorant">
                        Team Info
                    </button>
                    <button id="homeValo" class="joinButton valorant">
                        Home
                    </button>
                    <img src="resources/ValoButtonLogo.png" class="gsLogo" />
                </div>
            </div>
        </div>
        <div id="shaders">
            <div class="shade" id="csgoShade"></div>
            <div class="shade" id="valorantShade"></div>
        </div>
        <script src="js/mainPage.js"></script>
    </body>
</html>
