<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Game Escape</title>
        <link rel="stylesheet" href="css/mainPage.css" />
    </head>
    <body>
        <img src="resources/panoramaImage.png" id="backgroundImage" />
        <!-- <div id="introText">
            Escape Reality Embrace Abstract A 48hr intra club
            <strong id="yellow">CS:GO & Valorant</strong> Tournament
        </div> -->
        <div id="ButtonContainer">
            <div class="container" id="csgoButtonContainer">
                <button id="soloCSGO" class="joinButton">Play Solo</button>
                <button id="teamCSGO" class="joinButton">Play as Team</button>
            </div>
            <div class="container" id="valorantButtonContainer">
                <button id="soloValo" class="joinButton">Play Solo</button>
                <button id="teamValo" class="joinButton">Play as Team</button>
            </div>
        </div>
        <div id="shaders">
            <div class="shade" id="csgoShade"></div>
            <div class="shade" id="valorantShade"></div>
        </div>
        <script src="js/mainPage.js"></script>
    </body>
</html>
