<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="css/form.css" />
    </head>
    <body>
        <form action="/scheduleUploadValorant" method="post">
            <div class="searchField">
                <label for="team1Name"> Team 1 Name : </label>
                <input id="team1Name" name="team1Name" type="text" />
            </div>
            <div class="searchField">
                <label for="team2Name"> Team 2 Name : </label>
                <input id="team2Name" name="team2Name" type="text" />
            </div>
            <div class="searchField">
                <label for="time"> Time : </label>
                <input id="time" name="time" type="datetime-local" />
            </div>
            <button>Add</button>
        </form>
    </body>
</html>
