<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="css/form.css" />
    </head>
    <body>
        <% matches.forEach(function(match) { %>
        <li>
            <strong><%= match.team1 %> VS <%= match.team2 %></strong>
            ,
            <time>
                <%=match.time.getHours()%>:<%=match.time.getMinutes()%></time
            >
        </li>
        <% }); %>
    </body>
</html>
