<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="css/form.css" />
    </head>
    <body>
        <form action="/teamInfo" method="post">
            <div class="searchField">
                <label for="teamName"> Team Name : </label>
                <input id="teamName" name="teamName" type="text" />
                <button>Search Team</button>
            </div>
        </form>
    </body>
</html>
