<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="css/form.css" />
    </head>
    <body>
        <h1><%=teamName%></h1>
        <ul>
            <% players.forEach(function(player) { %>
            <li>
                <strong><%= player.fullName %></strong>
                , <%= player.RegistrationNumber %>
            </li>
            <% }); %>
        </ul>
    </body>
</html>
