<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Team</title>
        <link rel="stylesheet" href="css/form.css" />
    </head>
    <body>
        <form action="/ValorantCreateTeam" method="post">
            <div class="formField">
                <label for="teamName"> Team Name : </label>
                <input id="teamName" name="teamName" type="text" />
            </div>
            <h1>Leader details</h1>
            <div class="formField">
                <label for="fullName">Full Name: </label>
                <input id="fullName" name="fullName" type="text" />
            </div>
            <div class="formField">
                <label for="regno">Registration Number: </label>
                <input id="regno" name="RegistrationNumber" type="text" />
            </div>
            <div class="formField">
                <label for="mail">Vit Mail: </label>
                <input id="mail" name="VitMail" type="text" />
            </div>
            <div class="formField">
                <label for="rank"> Rank : </label>
                <input id="rank" name="rank" type="text" />
            </div>
            <div class="formField">
                <label for="gameId"> Riot Id : </label>
                <input id="gameId" name="gameId" type="text" />
            </div>
            <div class="formField">
                <label for="discord"> Discord ID : </label>
                <input id="discord" name="discord" type="text" />
            </div>
            <div class="formField">
                <label for="phno"> Phone number : </label>
                <input id="phno" name="phoneNumber" type="number" />
            </div>
            <button name="submit">Submit</button>
        </form>
    </body>
</html>
