<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="css/valo.css"/>
    </head>
    <body>
        <video
            class="frame"
            autoplay
            muted
            loop
            style="
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                height: 100%;
            "
        >
            <source src="resources/CSGOFormVideo.ogg" type="video/ogg" />
        </video>
        <img
            src="resources/valoAshiqui.svg"
            style="position: absolute; bottom: 0; left: 10%; height: 50%"
        />

        <form action="/createPlayerValorant" method="post" id="form">
            <h1>Join Valorant Team</h1>
            <div class="formField">
                <input
                    id="fullName"
                    name="fullName"
                    type="text"
                    placeholder="Full Name"
                    required
                />
            </div>
            <div class="formField">
                <input
                    id="regno"
                    name="RegistrationNumber"
                    type="text"
                    placeholder="Registration Number"
                    required
                />
            </div>
            <div class="formField">
                <input
                    id="mail"
                    name="VitMail"
                    type="text"
                    placeholder="Vit Mail"
                    required
                />
            </div>
            <div class="formField">
                <input
                    id="rank"
                    name="rank"
                    type="text"
                    placeholder="Rank"
                    required
                />
            </div>
            <div class="formField">
                <input
                    id="gameId"
                    name="gameId"
                    type="text"
                    placeholder="Riot ID"
                    required
                />
            </div>
            <div class="formField">
                <input
                    id="discord"
                    name="discord"
                    type="text"
                    placeholder="Discord ID"
                    required
                />
            </div>
            <div class="formField">
                <input
                    id="phno"
                    name="phoneNumber"
                    type="tel"
                    placeholder="Phone Number"
                    required
                />
            </div>
            <div class="formField">
                <input
                    id="teamName"
                    name="teamName"
                    type="text"
                    placeholder="Team Name"
                    required
                />
            </div>
            <div class="buttons">
                <button id="joinTeam">Create Team</button>
                <script>
                    document.getElementById("joinTeam").onclick = function () {
                        window.location.href = "/ValorantCreateTeam";
                    };
                </script>
                <button name="submit" type="submit" form="form">Submit</button>
            </div>
        </div>
        </form>
    </body>
</html>